body {
    background-image: url("https://image.ibb.co/gtEGt7/organic_tiles.png");
    background-repeat: repeat;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Quicksand', sans-serif;
}

.header {
    position: fixed;
    top: 0px;
    background-color: white;
    width: 100%;
    height: 80px;
    border-bottom: 4px solid gray;
    z-index: 1;
    margin-bottom: 10px;
}

.headerspace {
    width: 15%;
    height: 80px;
    float: left;
}

img:hover {
    opacity: 0.5;
    filter: alpha(opacity=80);
}

.name {
    color: white;
    width: 32%;
    height: 80px;
    margin-right: 50px;
    text-align: center;
    float: left;
    overflow: none;
    top: 0px;
    background-color: #667761;
}

h1 {
    margin-top: 0px;
    font-size: 30px;
    padding: 25px;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.navigation {
    width: 30%;
    border: 0px gray;
    padding: 30px;
    text-align: center;
    float: left;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
}
h2 {
    color: #667761;
    border-bottom: 2px lightgray solid;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Raleway', sans-serif;
}
.wrapper { 
    width: 960px;
    height: 2000px;
    margin: 0 auto;
    position: relative;
    top: 100px;
}
.content { 
    background-color: white;
    width: 626px;
    float: left;
    border: 2px gray;
    padding: 10px;
    position: relative;
}
.icons { 
    background-color: white;
    width:246px;
    border: 2px gray;
    float: left;
    position: relative;
    margin-left: 30px;
    padding: 10px;
    text-align: center; 
}
.imagelinks { 
    width:50px;
    opacity: 1;
    height: auto;
}

#profileimage { 
    padding:10px; 
}
a {
    text-decoration: none;
    text-transform: uppercase;
    color: #667761;
    letter-spacing: 1px;
}
a:hover {
    color: #B79492;
}
.footer {
    position: fixed;
    bottom: 0px;
    background-color: darkgray;
    width: 100%;
    height: 80px;
    border-top: 4px solid gray;
    z-index: 1;
}
#copyright {
    color: white;
    position: absolute;
    text-align: center;
    width: 100%;
    padding: 20px;
}
.imagelabel {
    position: absolute;
    bottom: 10px;
    width: 265px;
    line-height: 50px;
    background: #667761;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    text-align: center;
  }
  .imagebox {
    background-color: white;
    height: 195px;
    width: 265px;
    margin: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: gray;
    display: inline-block;
    position: relative;
  }
  .image {
    object-fit: cover;       
    object-position: center; 
    width: 265px;
    height: 195px;
    position: absolute;
  }
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit] {
    width: 25%;
    background-color: #667761;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #B79492;
}
.comment {
    border-radius: 5px;
    padding: 10px 40px;
}
textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: #667761;
    background-image: none;
    color: rgb(0, 0, 0);
}

/* Media Queries */

@media screen and (max-width: 980px) {

    .header {
        width: 79%;
        float: left;
    }
    
    .headerspace {
        width: 5%
    }
    
    h1 {
        padding: 10px;
    
    }
    
    .name {
        width: 40%;
    
    }
    
    .navigation {
        width: fit-content
    }
    
    .content {
        width: 40%
    
    }
    
    
    @media screen and (max-width: 768px) {
    
    .header {
        position: static;
        width: 100%;
        margin-bottom: 0px;
    
    }
    
    .headerspace {
        width: 3% 
    }
    
    .navigation {
        width: fit-content
    }
    
    .content {
        float: left;
        width: 75%;
        position: center;
        margin: 15px;
    
    
    }
    
    .icons {
       float: left;
       width: 75%;
       margin: 15px;
       
    
    }
    
    @media screen and (max-width: 640px) {
    
    .header {
        position: static;
        width: 100%;
    
    }
    
    .headerspace {
        width: 0% 
    }
    
    .name {
        width: 100%;
    }
    
    .navigation {
        width: -webkit-fill-available
    }
    
    .content {
        float: left;
        width: 60%;
        position: center;
    
    }

    .imagebox{
        width: 90%;
    }

    .image {
        width: 100%;

    }

    .imagelabel{
        width: 100%;
    }
    
    .icons {
       float: left;
       width: 60%;
    
       
    }

    